{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "react-app"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}